* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.RegisterUser {
    // min-height: calc(70vh - 69px);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &_container {
        display: flex;
        justify-content: center;

        &_main {
            display: flex;
            justify-content: center;
            border-radius: 5px;
            border: 1px solid #2F58CD;

            &_left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 500px;
                background-color: #2F58CD;
                text-align: center;
                border-radius: 5px;

                h1 {
                    margin-bottom: 50px;
                    color: lightgrey;
                }

                p {
                    color: lightgrey;
                }

            }

            &_right {
                padding: 25px 120px;
                width: 500px;

                &_heading {
                    color: #2F58CD;
                    margin-top: 50px;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 300px;
                    margin: 30px 0px 0px;

                    input {
                        display: flex;
                        padding: 10px;
                        border: none;
                        border-bottom: 1px solid grey;

                    }

                    button {
                        width: 200px;
                        height: 40px;
                        background-color: #2F58CD;
                        border: none;
                        color: white;
                        border-radius: 5px;
                        font-size: 20px;
                        cursor: pointer;
                        margin-top: 20px;
                    }

                    a {
                        margin: 20px 0;
                        text-decoration: none;
                    }
                }

                a {
                    text-decoration: none;

                    span {
                        color: black;
                    }

                }
            }
        }
    }
}